@{
    var userName = Session["UserName"] as string ?? "User";
    var vnCulture = new System.Globalization.CultureInfo("vi-VN");
}
<div class="topbar">
    <div class="title">@ViewBag.Title</div>
    <div class="right">
        <span>@DateTime.Now.ToString("dddd, dd/MM/yyyy", vnCulture)</span>
        <a href="/">Trang chủ</a>
        <a href="/Login/Logout">Đăng xuất</a>
    </div>
</div>
