

<div class="topbar">

    <div class="title">
        Dashboard
    </div>

    <div class="right">
        <span>Th 4, 29/04/2026</span>
        <a href="/Login/Logout">Đăng xuất</a>
    </div>

</div>