CREATE DATABASE IF NOT EXISTS DataWeb CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE DataWeb;

SET FOREIGN_KEY_CHECKS=0;

DROP TABLE IF EXISTS Role_Menu;
DROP TABLE IF EXISTS Account;
DROP TABLE IF EXISTS PhieuLuong;
DROP TABLE IF EXISTS NhatKyLuong;
DROP TABLE IF EXISTS ChamCong;
DROP TABLE IF EXISTS NhanVien;
DROP TABLE IF EXISTS Menu;
DROP TABLE IF EXISTS ChucVu;
DROP TABLE IF EXISTS PhongBan;
DROP TABLE IF EXISTS Role;

SET FOREIGN_KEY_CHECKS=1;

CREATE TABLE Role (
    RoleID INT AUTO_INCREMENT PRIMARY KEY,
    RoleName VARCHAR(100) NOT NULL
);

CREATE TABLE Menu (
    MenuID INT AUTO_INCREMENT PRIMARY KEY,
    MenuName VARCHAR(150) NOT NULL,
    MenuLink VARCHAR(200) NOT NULL,
    MenuOrder INT DEFAULT 1
);

CREATE TABLE PhongBan (
    MaPB INT AUTO_INCREMENT PRIMARY KEY,
    TenPB VARCHAR(150) NOT NULL UNIQUE
);

CREATE TABLE ChucVu (
    MaCV INT AUTO_INCREMENT PRIMARY KEY,
    TenCV VARCHAR(150) NOT NULL,
    PhuCapCV DECIMAL(18,2) DEFAULT 0
);

CREATE TABLE NhanVien (
    MaNV INT AUTO_INCREMENT PRIMARY KEY,
    HotenNV VARCHAR(150) NOT NULL,
    NgaySinh DATE NOT NULL,
    GioiTinh VARCHAR(10) NOT NULL,
    SDT VARCHAR(15),
    LuongCBan DECIMAL(18,2) NOT NULL,
    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
    UpdatedAt DATETIME,
    TrangThai TINYINT(1) DEFAULT 1,
    MaCV INT NOT NULL,
    MaPB INT NOT NULL,
    FOREIGN KEY (MaCV) REFERENCES ChucVu(MaCV),
    FOREIGN KEY (MaPB) REFERENCES PhongBan(MaPB)
);

CREATE TABLE Account (
    UserID INT AUTO_INCREMENT PRIMARY KEY,
    UserName VARCHAR(100) NOT NULL UNIQUE,
    PasswordHash VARCHAR(255) NOT NULL,
    IsDeleted TINYINT(1) DEFAULT 0,
    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
    RoleID INT NOT NULL,
    MaNV INT NOT NULL UNIQUE,
    FOREIGN KEY (RoleID) REFERENCES Role(RoleID),
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV)
);

CREATE TABLE ChamCong (
    MaChamCong INT AUTO_INCREMENT PRIMARY KEY,
    Ngay DATE NOT NULL,
    ThoiGianVao DATETIME NOT NULL,
    ThoiGianRa DATETIME NOT NULL,
    MaNV INT NOT NULL,
    UNIQUE (MaNV, Ngay),
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);

CREATE TABLE NhatKyLuong (
    IDNhatKy INT AUTO_INCREMENT PRIMARY KEY,
    MaNV INT NOT NULL,
    LuongCBan DECIMAL(18,2) NOT NULL,
    NgayApDung DATE NOT NULL,
    UNIQUE (MaNV, NgayApDung),
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);

CREATE TABLE PhieuLuong (
    MaBL INT AUTO_INCREMENT PRIMARY KEY,
    MaNV INT NOT NULL,
    IDNhatKy INT NOT NULL,
    Thang INT NOT NULL,
    Nam INT NOT NULL,
    LuongCBan DECIMAL(18,2) NOT NULL,
    Luong1NgayCong DECIMAL(18,2) NOT NULL,
    HeSoTangCa DECIMAL(5,2) NOT NULL,
    Luong1hTangCa DECIMAL(18,2) NOT NULL,
    Thuong DECIMAL(18,2) DEFAULT 0,
    Phat DECIMAL(18,2) DEFAULT 0,
    SoNgayCong INT DEFAULT 0,
    SoGioTangCa FLOAT DEFAULT 0,
    BHYT DECIMAL(18,2) NOT NULL,
    BHXH DECIMAL(18,2) NOT NULL,
    Thue DECIMAL(18,2) NOT NULL,
    TongLuong DECIMAL(18,2) NOT NULL,
    CreatedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
    MaChamCong INT NOT NULL,
    UNIQUE (MaNV, Thang, Nam),
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV),
    FOREIGN KEY (IDNhatKy) REFERENCES NhatKyLuong(IDNhatKy),
    FOREIGN KEY (MaChamCong) REFERENCES ChamCong(MaChamCong) ON DELETE CASCADE
);

CREATE TABLE Role_Menu (
    RMID INT AUTO_INCREMENT PRIMARY KEY,
    RoleID INT NOT NULL,
    MenuID INT NOT NULL,
    IsVisible TINYINT(1) DEFAULT 1,
    UNIQUE (RoleID, MenuID),
    FOREIGN KEY (RoleID) REFERENCES Role(RoleID) ON DELETE CASCADE,
    FOREIGN KEY (MenuID) REFERENCES Menu(MenuID) ON DELETE CASCADE
);

INSERT INTO Role VALUES
(2,'Trưởng phòng'),
(4,'Kế toán'),
(5,'Nhân sự'),
(6,'Nhân viên');

INSERT INTO ChucVu VALUES
(2,'Trưởng phòng',500000),
(4,'Nhân viên',250000);

INSERT INTO PhongBan VALUES
(1,'Nhân sự'),
(2,'Kế toán'),
(3,'Marketing'),
(4,'Kinh doanh'),
(5,'Quản lý');

INSERT INTO Menu VALUES
(1,'Báo cáo - Thống kê','/baocaothongke',6),
(2,'Quản lý tài khoản','/taikhoan',1),
(3,'Quản lý nhân sự','/nhansu',2),
(4,'Quản lý chấm công','/chamcong',3),
(5,'Quản lý bảng lương','/luong',4),
(6,'Quản lý menu','/menu',5);

INSERT INTO NhanVien (MaNV,HotenNV,NgaySinh,GioiTinh,SDT,LuongCBan,MaCV,MaPB) VALUES
(3,'Nguyễn Thị B','1990-05-11','Nữ','0356456879',50000000,2,1),
(4,'Vũ Thị C','2000-02-13','Nữ','Nữ','0243657686',10000000,4,1);

INSERT INTO Account VALUES
(3,'TruongPhong','123456',0,NOW(),2,3),
(7,'NhanVien','123456',1,NOW(),6,4);

INSERT INTO Role_Menu (RoleID,MenuID,IsVisible) VALUES
(2,1,1),(2,2,1),(2,3,1),(2,4,1),(2,6,1),
(5,2,1),(5,3,1),(5,4,1),
(4,5,1),(4,4,1),
(6,4,1),(6,5,1),(6,3,1);